@import "seattletimes";
@import "svg";

.interactive {
  font-family: @df-sans;
  max-width: 630px;
  margin: auto;
}

.narrative {
  .display-flex();

  .sequences {
    border-right: 1px solid @df-blue;

    a {
      display: block;
      cursor: pointer;
      text-align: center;
      padding: 4px 10px;
      font-size: 13px;

      &:hover, &:focus, {
        background: fade(@df-blue, 50%);
        color: @df-off-white;
      }

      &.selected {
        background: @df-blue;
        color: @df-off-white;
        position: relative;

        &::after {
          content: ">";
          position: absolute;
          right: 4px;
          top: 4px;
          color: white;
        }
      }
    }
  }

  .caption {
    font-size: 16px;
    .align-self(center);
    padding: 16px;

    .next {
      display: block;
      text-align: right;
      cursor: pointer;
    }
  }
}

.graph-view {
  .display-flex();
  height: 600px;
  max-height: 80vh;

  .svg-container {
    .flex(1 1 100%);
  }
}

.detail-panel {
  width: 0;
  overflow: hidden;
  transition: all .2s ease-in-out;
  position: relative;
  overflow-y: auto;
  font-size: 14px;

  @open-width: 240px;

  .open-details & {
    width: @open-width;
    .flex(0 0 @open-width);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
  }

  .content {
    width: @open-width;
    padding: 32px 16px;
  }

  h2 {
    font-size: 20px;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  .quote {
    padding: 8px 0;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

  cite {
    display: block;
    text-align: right;
  }
}