.svg-container {
  background: radial-gradient(#FFF, #F8F8F8);
  position: relative;

  &::before {
    content: "";
    display: none;
    padding-bottom: percentage(2017 / 2046);

    @media @mobile {
      display: block;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    path {
      stroke: @df-light-gray;
      stroke-width: 3px;
      fill: none;

      &.quoted {
        stroke: @df-blue;
        stroke-width: 10px;

        @media @mobile {
          stroke-width: 20px;
        }
      }

      &.highlight {
        stroke: @st-dark-red;
      }
    }

    text {
      font-family: @df-sans;
      font-size: 30px;
      opacity: 0;
      pointer-events: none;
      font-weight: bold;
    }

    circle {
      fill: @st-light-blue;
      transition: all .2s linear;

      cursor: pointer;

      @highlight: @st-dark-orange;

      &.Leader { fill: @st-light-red }
      &.Curator { fill: @st-light-green }
      &.Owner { fill: @st-light-orange }
      &.Artist { fill: @st-light-purple }

      &:hover,
      &:focus,
      &.neighbor {
        fill: @highlight;

        & + text {
          opacity: .7;
          fill: @df-dark-gray;

          &.photo {
            fill: darken(@df-blue, 10%);
          }
        }
      }

      &.highlight {
        opacity: 1;
        fill: @highlight;

        & + text {
          font-size: 40px;
          opacity: 1;
          fill: black;
          text-shadow: 0 0 2px white;
        }
      }
    }
  }
}