<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <div class="intro constrained">
          <h1>Making connections</h1>
          <p class="chatter">
            Women in the Seattle arts community are often tightly knit together by connections to each other. In the graph below, we've built a network from self-reported relationships mentioned during interviews. Drag and zoom to dig into the network, and tap on a bubble for more information about that person.
          </p>
        </div>

        <div class="narrative constrained">
          <nav class="sequences">
            <a data-sequence="intro" class="selected">Intro</a>
            <a data-sequence="gates">Mimi Gardner Gates</a>
            <a data-sequence="ingram">Davida Ingram</a>
            <a data-sequence="adams">Diane Adams</a>
          </nav>
          <div class="caption"></div>
        </div>

        <div class="graph-view">
          <div class="svg-container">
            <%= t.include("./assets/network.svg") %>
          </div>
          <div class="detail-panel">
            <a class="close">&times;</a>
            <div class="content"></div>
          </div>
        </div>

        <ul class="key">
          <li> <i class="bubble Leader"></i> Director, CEO, or other leader
          <li> <i class="bubble Curator"></i> Museum curator
          <li> <i class="bubble Gallery Owner"></i> Gallery owner
          <li> <i class="bubble Artist"></i> Artist
        </ul>

        <nav class="jump-links">
          <label>Quick navigation</label>
          <a class="jump" data-id="34">Robin Held</a> |
          <a class="jump" data-id="63">Stacey Winston-Levitan</a> |
          <a class="jump" data-id="7">Jo-anne Birnie Danzker</a> |
          <a class="jump" data-id="24">Beth Takekawa</a> |
          <a class="jump" data-id="25">Rosanna Sharpe</a>
        </nav>

        <div class="byline">
          THOMAS WILBURN, GABRIEL CAMPANARIO / THE SEATTLE TIMES
        </div>
      </main>
    </responsive-child>

    <script>
window.network = {
  edges: <%= JSON.stringify(csv.connections) %>,
  nodes: <%= JSON.stringify(csv.people) %>,
  narrative: <%= JSON.stringify(csv.narratives) %>
};
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
