<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <div class="intro constrained">
          <h1>Making connections</h1>
        </div>

        <div class="narrative constrained">
          <nav class="sequences">
            <a data-stage="intro-0" class="selected">Intro</a>
            <i class="sequence-dot" data-stage="intro-1"></i>
            <i class="sequence-dot" data-stage="intro-2"></i>
            <i class="sequence-dot" data-stage="intro-3"></i>
            <a data-stage="gates-0">Mimi Gardner Gates</a>
            <i class="sequence-dot" data-stage="gates-1"></i>
            <i class="sequence-dot" data-stage="gates-2"></i>
            <a data-stage="ingram-0">Davida Ingram</a>
            <i class="sequence-dot" data-stage="ingram-1"></i>
            <a data-stage="adams-0">Diana Adams</a>
            <i class="sequence-dot" data-stage="adams-1"></i>
            <i class="sequence-dot" data-stage="adams-2"></i>
          </nav>
          <div class="caption"></div>
        </div>

        <div class="graph-view">
          <div class="svg-container">
            <%= t.include("./assets/network.svg") %>
          </div>
          <div class="detail-panel">
            <a class="close">&times;</a>
            <div class="content"></div>
          </div>
        </div>

        <ul class="key">
          <li> <i class="bubble Leader"></i> Director, CEO, or other leader
          <li> <i class="bubble Curator"></i> Museum curator
          <li> <i class="bubble Gallery Owner"></i> Gallery owner
          <li> <i class="bubble Artist"></i> Artist
          <li> <i class="bubble Other"></i> Other
        </ul>

        <div class="byline">
          THOMAS WILBURN, GABRIEL CAMPANARIO / THE SEATTLE TIMES
        </div>
      </main>
    </responsive-child>

<%
json.WomenInArts_Connections.forEach(function(row) {
  delete row.quote;
});
%>
    <script>
window.network = {
  edges: <%= JSON.stringify(json.WomenInArts_Connections) %>,
  nodes: <%= JSON.stringify(json.WomenInArts_People) %>,
  narrative: <%= JSON.stringify(json.WomenInArts_narratives) %>
};
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
